body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f44336;
}

a {
  color: black;
  font-size: 130%;
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}

a:hover {color: #90caf9;}

.TopBar {font-family: 'Raleway', sans-serif;}

.ComponentHeader {font-family: 'Raleway', sans-serif;}

.TopBarItem {font-family: 'Rubik Mono One', sans-serif;}

.coming-soon {font-family: 'Oswald', sans-serif;}

.video-embed {
  width: 100%;
  height: 100vh;
}

.parallax-container {height: 1250px;}
